@page
@model eUcionica.Pages.Test.GenerisanjeModel
@{
    ViewData["Title"] = "Random Test";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Test</h1>
@if (Model.Pitanja != null && Model.Pitanja.Any())
{
    <form method="post">
        <ol>
            @foreach (var pitanje in Model.Pitanja)
            {
                <li>Pitanje:
                    <strong>@pitanje.Pitanje</strong>
                    <br />
                    Odgovor: <input type="text" name="Odgovori[@pitanje.ID]" />
                    <input type="hidden" name="PitanjaIDs[]" value="@pitanje.ID" />
                    <hr />
                </li>
            }
        </ol>
        <br /><input type="submit" value="Završi test" class="btn btn-success"/><br />
    </form>
}
else
{
    <p>Nema dostupnih pitanja za izabrani predmet.</p>
}
<h1></h1>
<a asp-page="./Test" class="btn btn-secondary">Vrati se nazad</a>