@page
@model eUcionica.Pages.Predmeti.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Dodaj novi predmet</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Naziv predmeta</label>
                <input asp-for="Predmeti.Name" class="form-control" />
                <span asp-validation-for="Predmeti.Name" class="text-danger"></span>
            </div>
            <h1></h1>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<h1></h1>
<div>
    <a asp-page="./Predmeti" class="btn btn-secondary">Vrati se nazad</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}