@page
@model eUcionica.Pages.Oblasti.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Brisanje</h1>


<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Naziv oblasti
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oblasti.Name)
        </dd>
    </dl>
    <hr />
    <h7>Da li si siguran da zelis da obrises ovu oblast?</h7>
    <h1></h1>
    <form method="post">
        <input type="hidden" asp-for="Oblasti.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <h1></h1>
        <a asp-page="./Oblasti" class="btn btn-secondary">Vrati se nazad</a>
    </form>
</div>