@page
@model eUcionica.Pages.Oblasti.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Izmeni oblast</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Oblasti.ID" />
            <div class="form-group">
                <label>Naziv oblasti</label>
                <input asp-for="Oblasti.Name" class="form-control" />
                <span asp-validation-for="Oblasti.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br /> <input type="submit" value="Sačuvaj izmene" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br /><a asp-page="./Oblasti" class="btn btn-secondary">Vrati se nazad</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}